#
# BurstLanguage/.gitignore
#
*
!*/

# Allow markdown files
!*.md
!*.markdown

# Allow make files
!Makefile
!*.mk
!*.makefile

# Allow git-related files
!.git*

# Ignore *nix backup files
*~

# Other files
!LICENSE