#
# BurstLanguage/.gitignore
#
*
!*/

# Allow markdown files
!*.md
!*.markdown

# Allow make files
!Makefile

# Allow config files
!*.cfg

# Allow git-related files
!.git*

# Ignore *nix backup files
*~